---
title: Robots
layout: page
---

{%assign empty_category = true %}
{% for post in site.posts %}
  {%if post.tags contains "robot-bio" %}
    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><small> • {{ post.date | date: site.date_format }}</small></p>
    {% assign empty_category = false %}
  {% endif %}
{% endfor %}
{% if empty_category %}
    <h3>
        It seems that there are no robots,
        please go back <a href="/">home</a> to see the full list of articles.
    </h3>
{% endif %}

